.idea
containers/*
/mysql-datadir/*
/sonarqube_conf/*
/sonarqube_data/*
/sonarqube_extensions/*
/postgresql_data/
/postgresql/
/jenkins_homes/
/jenkins-master/build/jobs_aws/hello-dropwizard/builds/
!Dockerfile
terraform/.terraform*
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace@tmp/
lastStable
lastSuccessful
nextBuildNumber
/jenkins-master/build/plugins/workflow-api/
/jenkins-master/build/plugins/git-client/
/jenkins-master/build/plugins/momentjs/
/jenkins-master/build/plugins/cloud-stats/
/jenkins-master/build/plugins/structs/
/jenkins-master/build/plugins/github-api/
/jenkins-master/build/plugins/workflow-cps/
/jenkins-master/build/plugins/display-url-api/
/jenkins-master/build/plugins/yet-another-docker-plugin/
/jenkins-master/build/plugins/github-branch-source/
/jenkins-master/build/plugins/git-server/
/jenkins-master/build/plugins/pipeline-milestone-step/
/jenkins-master/build/plugins/pipeline-model-extensions/
/jenkins-master/build/plugins/pipeline-graph-analysis/
/jenkins-master/build/plugins/external-monitor-job/
/jenkins-master/build/plugins/scm-api/
/jenkins-master/build/plugins/github/
/jenkins-master/build/plugins/token-macro/
/jenkins-master/build/plugins/git/
/jenkins-master/build/plugins/pipeline-model-definition/
/jenkins-master/build/plugins/windows-slaves/
/jenkins-master/build/plugins/workflow-scm-step/
/jenkins-master/build/plugins/bouncycastle-api/
/jenkins-master/build/plugins/pipeline-model-api/
/jenkins-master/build/plugins/plain-credentials/
/jenkins-master/build/plugins/mapdb-api/
/jenkins-master/build/plugins/pipeline-github-lib/
/jenkins-master/build/plugins/pipeline-build-step/
/jenkins-master/build/plugins/matrix-project/
/jenkins-master/build/plugins/workflow-multibranch/
/jenkins-master/build/plugins/credentials-binding/
/jenkins-master/build/plugins/workflow-support/
/jenkins-master/build/plugins/ace-editor/
/jenkins-master/build/plugins/mailer/
/jenkins-master/build/plugins/pipeline-rest-api/
/jenkins-master/build/plugins/config-file-provider/
/jenkins-master/build/plugins/workflow-cps-global-lib/
/jenkins-master/build/plugins/branch-api/
/jenkins-master/build/plugins/pipeline-stage-step/
/jenkins-master/build/plugins/workflow-aggregator/
/jenkins-master/build/plugins/jackson2-api/
/jenkins-master/build/plugins/ssh-credentials/
/jenkins-master/build/plugins/antisamy-markup-formatter/
/jenkins-master/build/plugins/pipeline-model-declarative-agent/
/jenkins-master/build/plugins/jquery-detached/
/jenkins-master/build/plugins/build-timeout/
/jenkins-master/build/plugins/subversion/
/jenkins-master/build/plugins/workflow-job/
/jenkins-master/build/plugins/script-security/
/jenkins-master/build/plugins/authentication-tokens/
/jenkins-master/build/plugins/pipeline-stage-tags-metadata/
/jenkins-master/build/plugins/ssh-slaves/
/jenkins-master/build/plugins/pam-auth/
/jenkins-master/build/plugins/workflow-durable-task-step/
/jenkins-master/build/plugins/handlebars/
/jenkins-master/build/plugins/docker-workflow/
/jenkins-master/build/plugins/pipeline-stage-view/
/jenkins-master/build/plugins/workflow-basic-steps/
/jenkins-master/build/plugins/groovy/
/jenkins-master/build/plugins/matrix-auth/
/jenkins-master/build/plugins/icon-shim/
/jenkins-master/build/plugins/junit/
/jenkins-master/build/plugins/cloudbees-folder/
/jenkins-master/build/plugins/durable-task/
/jenkins-master/build/plugins/jclouds-jenkins/
/jenkins-master/build/plugins/resource-disposer/
/jenkins-master/build/plugins/github-organization-folder/
/jenkins-master/build/plugins/credentials/
/jenkins-master/build/plugins/docker-commons/
/jenkins-master/build/plugins/workflow-step-api/
/jenkins-master/build/plugins/ldap/
/jenkins-master/build/plugins/pipeline-input-step/
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/README.md
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/pom.xml
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/src/
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/target/
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/example.yaml
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/dependency-reduced-pom.xml
/jenkins-master/build/jobs_aws/hello-dropwizard/workspace/
/jenkins-master/build/plugins/file-operations/
jenkins-master/build/plugins/ansicolor/
packer.log
registry/
certs/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform_deploy.tfvars 
/terraform/terraform_deploy.tfvars
/jenkins-master/build/jobs_aws_backup/
/jenkins-master/build/jenkins-cli.jar
/jenkins-master/build/plugins/ant/
/jenkins-master/build/plugins/conditional-buildstep/
/jenkins-master/build/plugins/build-pipeline-plugin/
/jenkins-master/build/plugins/javadoc/
/jenkins-master/build/plugins/git-parameter/
/jenkins-master/build/plugins/jquery/
/jenkins-master/build/plugins/job-poll-action-plugin/
/jenkins-master/build/plugins/maven-plugin/
/jenkins-master/build/plugins/parameterized-trigger/
/jenkins-master/build/plugins/pipeline-aggregator-view/
/jenkins-master/build/plugins/pipeline-github/
/jenkins-master/build/plugins/pipeline-githubnotify-step/
/jenkins-master/build/plugins/pipeline-utility-steps/
/jenkins-master/build/plugins/run-condition/
*.bak
/jenkins-master/build/plugins/delivery-pipeline-plugin/